#howto {
    background: $body-bg-alternate;

    .schema {
        margin-top: 30px;

        text-align: center;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}
